@import url("/src/assets/css/style.css");
@import url("/src/assets/css/tailwind.css");

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  height: 100%;
}
.custom-popover {
  .ant-popover-title {
    margin-bottom: 0 !important;
  }
}
.light {
  .ant-popover-arrow {
    &::before {
      --tw-bg-opacity: 1;
      background: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
    }
  }
}
.dark {
  .ant-popover-arrow {
    &::before {
      --tw-bg-opacity: 1;
      background: rgb(51 65 85 / var(--tw-bg-opacity)) !important;
    }
  }
}

.switch-dark {
  .ant-switch-handle {
    &::before {
      background-color: rgb(37 99 235 / 1) !important;
    }
  }
}
.switch-light {
  .ant-switch-handle {
    &::before {
      background-color: #fff;
    }
  }
}
.placeholder-dark {
  input::-webkit-input-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
  input:-moz-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
  input::-moz-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
  input:-ms-input-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  }
}
.placeholder-light {
  input::-webkit-input-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  }
  input:-moz-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  }
  input::-moz-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  }
  input:-ms-input-placeholder {
    --tw-text-opacity: 1 !important;
    color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  }
}

/* carousel custom */
