@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 122 255;
    --color-text-primary: 0 0 0;
    --color-bg-primary: 237 245 255;
    --color-bg-secondary: 250 250 250;
    --color-border: 234 236 240;
    --color-dark2: 30 41 59;
    --bg-dark3: 51 65 85;
  }

  :root[class~="dark"] {
    --color-primary: 255 255 255;
    --color-text-primary: 255 255 255;
    --color-bg-primary: 26 28 32;
    --color-bg-secondary: 30 31 37;
    --color-border: 38 41 46;
    --color-dark2: 30 41 59;
    --bg-dark3: 51 65 85;
  }
}
